<!DOCTYPE HTML>

<html>
<head>
    <title>MyAnimeList Search</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='whatsuprena.ico') }}">
</head>
<body>
    <center>
        <h2>MyAnimeList Search</h2>
        <p> This is a simple webpage meant to display a synopsis and a picture of an anime the user requests. This webpage is made with MyAnimeList's <a href="https://myanimelist.net/apiconfig/references/api/v2">public api.</a></p>
        <img src="{{url_for('static', filename='dope_picture_of_aigis.png')}}" align="middle" />
        <form method="post" action="/search">
            <input type="text" name="search_query" placeholder="Search here!">
            <button type="submit">Search</button>
        </form>
        <div class="results">
            {% if results %}
            <h3>Search Results:</h3>
            <img width="100" height="100" src="{{url_for('static', filename='chiyo_arrow.png')}}" align="middle" />
            <ul>
                {% for anime in results %}
                <li class="anime-entry">
                    <h2>{{ anime.title }}</h2>
                    <img src="{{ anime.image_url }}" alt="{{ anime.title }}">
                    <p>{{ anime.synopsis }}</p>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </center>
</body>
</html>
